<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MiamiDade" type="KipuHealthCodeAssessment.Configuration.CountyConfigSection, KipuHealthCodeAssessment" />
    <section name="PalmBeach" type="KipuHealthCodeAssessment.Configuration.CountyConfigSection, KipuHealthCodeAssessment" />
    <section name="Broward" type="KipuHealthCodeAssessment.Configuration.CountyConfigSection, KipuHealthCodeAssessment" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <MiamiDade taxRate="6" markUp="25" />
  <PalmBeach taxRate="8" markUp="30" />
  <Broward taxRate="7" markUp="30" />
</configuration>